final_query.sql
scren/
data/
failure-prediction-pjt.ipynb
generate_keys.py
prediction.py
presentation.pptx
pytest_logo_curves.svg
sample.csv
test.csv
test.py
test_data.csv
test_set.csv
train_data.csv
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/
bosh/
main.ipynb
